@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&family=Ubuntu:wght@500;700&display=swap');

:root{
    --primary-color: #5A46A6;
    --dark-purple: #34266B;
    --padding: 44px;
}

*{
    padding: 0;
    margin: 0;

    box-sizing: border-box;
}

body{
    font-family: 'Poppins';
}

#page{
    width: 100%;
    height: 100vh;
}

.width-100{
    width: 100%;
}

h1, h2, h3, h4{
    font-family: 'Ubuntu';
}

h3{
    color: var(--dark-purple);
    font-size: 18px;
}

h4{
    font-weight: 600;
    font-size: 14px;
}

a{
    text-decoration: none;
    color: var(--dark-purple);
}

p{
    color: #aaa;
    font-size: 12px;
}

.margin-5{
    margin: 5px 0;
}

.margin-10{
    margin: 10px 0;
}

.margin-15{
    margin: 15px 0;
}

.home{
    width: 100%;
    height: 250px;

    background: linear-gradient(133.42deg, rgba(90, 70, 166, 0.65) 0%, rgba(53, 41, 100, 0.65) 101.15%), url(../img/dog.jpg) no-repeat center;
    background-size: cover;
    
    display: flex;
    align-items: center;
    justify-content: center;

    color: #fff;
    font-size: 28px;
}

form{
    padding: 12px 44px;
    max-width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #fff;
    border-radius: 30px 30px 0px 0px;

    flex-shrink: 1;
}

.translate-30{
    transform: translateY(-30px);
}

.text-center{
    text-align: center;
}

.text-right{
    text-align: right;
}

form input{
    width: 100%;
    height: 50px;

    padding: 24px;
    
    font-size: 14px;
    background: #F4F4F4;
    border: none;
    border-radius: 10px;
    outline: none;
}

.checkbox{
    width: 100%;
    font-size: 14px;

    display: flex;
    align-items: center;
    justify-content: left;

    margin: 10px;
    gap: 10px;
}

.checkbox input{
    width: 20px;
    height: 20px;
}

button{
    height: 50px;

    font-family: 'Ubuntu';
    font-weight: 700;
    font-size: 16px;
    
    border: none;
    border-radius: 14px;
}

.btn-filled{
    color: white;
    background-color: var(--primary-color);
}

.btn-outline{
    color: var(--dark-purple);
    background-color: transparent;
    border: 2px solid var(--dark-purple);
}

.icon{
    width: 30px;
    height: 30px;
}

.position-left{
    position: relative;
    left: 0px;
}
